.lesson-details {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    gap: 0.5rem;
    height: 100%;
    background-color: var(--background-primary);
    transition: background-color 0.3s;
}

.lesson-details::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

.lesson-details::-webkit-scrollbar-track {
    background: var(--scrollbarTrack-background);
    border-radius: 10px;
    -webkit-transition: background 0.3s
}

.lesson-details::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumb-background);
    border-radius: 10px;
    -webkit-transition: background 0.3s
}