.home-lesson {
    display: flex;
    height: auto;
    max-height: 100px;
    width: 100%;
    min-width: 100px;
    background-color: #ddd;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-lesson:hover {
    border: 1px solid #aaa;
    background-color: white;
}

.home-lesson__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.home-lesson__container-left {}

.home-lesson__container-right {}

.home-lesson__container-right .check-circle {
    color: green;
}

.home-lesson__container-right .circle {
    color: #1A1A1A;
}