.home-RecommendItem {
    height: 10rem;
    min-width: 8rem;
    border-radius: 5px;
}

.home-RecommendItem:hover {
    border: 1px dashed var(--border-color);
    transform: scale(1.05);
}

.home-RecommendItem__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.home-RecommendItem__container img {
    height: 80%;
    width: 90%;
    border-radius: 5px;
    object-fit: cover;
}

.home-RecommendItem__container p {
    font-size: 14px;
    margin-top: 0.5rem;
    color: var(--text-secondary);
    transition: color 0.3s;
}