.course-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 90%;
    cursor: default;
    background-color: transparent;
    position: relative;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.course-selection-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 5px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: var(--background-secondary);
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.course-selection-mode p {
    font-size: 1.05rem;
    color: #86B799;
    transition: color 0.3s;
}

.course-body__container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
    gap: 1.25em;
    overflow-y: auto;
    color: var(--text-primary);
    font-size: 1.2rem;
    transition: color 0.3s;
}

.course-body__container::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

.course-body__container::-webkit-scrollbar-track {
    background: var(--scrollbarTrack-background);
    border-radius: 10px;
    -webkit-transition: background 0.3s
}

.course-body__container::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumb-background);
    border-radius: 10px;
    -webkit-transition: background 0.3s
}