.addSection-footer {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    cursor: default;
    overflow: hidden;
    height: auto;
    width: 100%;
    padding: 20px 0;
    gap: 1.2em
}

