.account-security {
    display: flex;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.account-security__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.account-security__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: default;
}

.account-security__input:hover {
    border: 1px solid var(--border-color);
}

.account-security__input p {
    color: var(--text-secondary);
    font-size: 1.05rem;
}

.account-security__input svg {
    color: var(--text-primary);
    cursor: pointer;
}