.login-header,
.register-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #14375F;
    padding: 20px;
    margin-top: 25px;
    gap: 2rem;
}

.login-header:hover,
.register-header:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-header__right,
.register-header__right {
    align-items: center;
    width: 50%;
    height: 100%;
}

.login-header__left,
.register-header__left {
    align-items: center;
    width: 50%;
    height: 100%;
}

.login-header__left img,
.register-header__left img {
    width: 6rem;
    height: 2.5rem;
}

.login-header__right h1,
.register-header__right h1 {
    color: white;
    font-size: 1.8rem;
}