.course-details__body {
    flex: 1;
    padding: 1em;
}

.course-details__body-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-primary);

    display: block;
    margin-bottom: 1em;
}