.exercises__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.exercises__body-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 100%;
}

/* Actions */
.exercises__body-content-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 20px;
}
