/* Footer */
.lesson-details__footer {
    background-color: var(--background-secondary);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shawdow-color);
    padding: 20px;
    transition: all 0.3s;
}

.lesson-details__footer-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}