:root[data-theme="light"] {
  --background-primary: #F4FAFF;
  --background-secondary: #ffffff;
  --text-primary: #444;
  --text-secondary: #666666;
  --border-color: #eaeaea;
  --hover-color: #f0f0f0;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --title-background: #ebf8ff;
  --scrollbarTrack-background: #f0f0f0;
  --scrollbarThumb-background: #707070;
  --li--background: rgba(20, 55, 95, 0.1);
  --li--background-active: rgba(20, 55, 95, 0.15);
  --li-border-color: #14375F;
  --li-text-color: #14375F;
  --li-nav-icon: #1A1A1A;
  --circle-color: #1A1A1A;
  --circle-check-color: #27c744;
  --message-user: #b2d6ff;
  --btn-shadow: rgba(26, 26, 26, 0.2);
  --btn-primary-bg: #1A1A1A;
  --btn-primary-color: #ffffff;
  --btn-primary-border: #1a1a1a;
  --btn-primary-bg-hover: #ffffff;
  --btn-primary-color-hover: #1A1A1A;
  --btn-primary-section: #ffffff;
  --btn-secondary-bg: #ffffff;
  --btn-secondary-color: #1A1A1A;
  --btn-secondary-border: #1A1A1A;
  --btn-secondary-bg-hover: #1A1A1A;
  --btn-secondary-color-hover: #ffffff;
  --btn-secondary-border-hover: #14375F;
  --btn-return-color: #1A1A1A;
  --btn-return-color-hover: #555;
  --btn-disabled-bg: #F3F4F6;
  --btn-disabled-color: #9CA3AF;
  --btn-disabled-border: #E5E7EB;
}

:root[data-theme="dark"] {
  --background-primary: #1a1a1a;
  --background-secondary: #2d2d2d;
  --text-primary: #eee;
  --text-secondary: #b3b3b3;
  --border-color: #444444;
  --hover-color: #3d3d3d;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --title-background: #46575e;
  --scrollbarTrack-background: #333;
  --scrollbarThumb-background: #bbbbbb;
  --li--background: rgba(20, 55, 95, 0.1);
  --li--background-active: rgba(128, 184, 248, 0.15);
  --li-border-color: #2c76cc;
  --li-text-color: #14375F;
  --li-nav-icon: #ffffff;
  --circle-color: #ddd;
  --circle-check-color: #187e2b;
  --message-user: #14375F;
  --btn-shadow: rgba(255, 255, 255, 0.2);
  --btn-primary-bg: #ffffff;
  --btn-primary-color: #1A1A1A;
  --btn-primary-border: #ffffff;
  --btn-primary-bg-hover: #1A1A1A;
  --btn-primary-color-hover: #ffffff;
  --btn-primary-section: #1A1A1A;
  --btn-secondary-bg: #1A1A1A;
  --btn-secondary-color: #ffffff;
  --btn-secondary-border: #ffffff;
  --btn-secondary-bg-hover: #ffffff;
  --btn-secondary-color-hover: #1A1A1A;
  --btn-secondary-border-hover: #8AB4F8;
  --btn-return-color: #ffffff;
  --btn-return-color-hover: #AAA;
  --btn-disabled-bg: #2E2E2E;
  --btn-disabled-color: #6E6E6E;
  --btn-disabled-border: #444;
}