.section-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: .5em;
    padding: 5px;
    padding-left: 40px;
    width: 100%;
    min-height: 2.5em;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    transition: border-bottom 0.3s;
}

.section-item:last-child {
    border: none;
}

.section-item:hover {
    background-color: var(--background-primary);
}

.section-item .IconCompleted {
    color: var(--circle-check-color);
    transition: color 0.3s;
}

.section-item .IconNotCompleted {
    color: var(--text-secondary);
    transition: color 0.3s;
}

.section-item .section-name {
    flex: 1;
    color: var(--text-secondary);
    font-size: 1rem;
    transition: color 0.3s;
}