.course-details {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 0.5rem;
    height: 100%;
    background-color: var(--background-primary);
    transition: background-color 0.3s;
}

.course-details__container {
    flex: 1;
    overflow-y: auto;
}

.course-details__container::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

.course-details__container::-webkit-scrollbar-track {
    background: var(--scrollbarTrack-background);
    border-radius: 10px;
    -webkit-transition: background 0.3s
}

.course-details__container::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumb-background);
    border-radius: 10px;
    -webkit-transition: background 0.3s
}