.register-body__right-form-group,
.login-body__right-form-group {
    display: flex;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 15px;
    height: auto;
    width: 100%;
    min-height: 40px;
}

.register-body__right-form-group.last,
.login-body__right-form-group.last {
    margin-bottom: 8px;
}

.register-body__right-form-group svg,
.login-body__right-form-group svg {
    height: auto;
    min-width: 40px;
    width: 15%;
    border: none;
    margin-right: 5px;
    padding: 8px;
    color: #899AAE;
}

.register-body__right-form-group input,
.login-body__right-form-group input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.show-password,
.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #1E88E5;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    color: #1E88E5;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}

.show-password-btn {
    background: none;
    border: none;
    color: #1E88E5;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
}

.show-password-btn:hover {
    color: #165c9a;
    font-weight: 600;
    text-decoration: underline;
}