.login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    background: #F4FAFF;
    justify-content: center;
    align-items: center;
}

.login__main-content {
    height: auto;
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

