.addCourse-body {
    display: flex;
    flex-direction: column;
    cursor: default;
    overflow: auto;
    max-height: 80%;
    gap: 0.5rem;
    padding: 20px;
    border-radius: 20px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 0 8px var(--shadow-color);
    transition: box-shadow 0.3s, border 0.3s;
}

.addCourse-body::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

.addCourse-body::-webkit-scrollbar-track {
    background: var(--scrollbarTrack-background);
    border-radius: 10px;
    -webkit-transition: background 0.3s
}

.addCourse-body::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumb-background);
    border-radius: 10px;
    -webkit-transition: background 0.3s
}

.addCourse-body__form-group {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.addCourse-body__image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.addCourse-body__image-placeholder {
    width: 150px;
    height: 150px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    justify-content: center;
    transition: border 0.3s;
}

.addCourse-body__image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.addCourse-body__label {
    display: block;
    font-weight: 400;
    margin-bottom: 8px;
    color: var(--text-primary);
    transition: color 0.3s;
}

.addCourse-body__input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 16px;
    transition: border 0.3s, color 0.3s, background-color 0.3s;
}

.addCourse-body__form-subgroup {
    flex: 1;
}

.addCourse-body__form-subgroup-2 {
    display: flex;
    align-items: center;
}

/* Tải lên hình ảnh */
.addCourse-body__input-file-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.addCourse-body__input-file {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.addCourse-body__input-file-label {
    min-width: 90px;
    text-align: center;
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.addCourse-body__input-file-label::before {
    font-weight: 900;
    margin-right: 8px;
}

.addCourse-body__input-file-label:hover {
    background-color: var(--li-text-color);
    color: white;
    box-shadow: 0 4px 8px var(--shadow-color);
    transform: translateY(-1px);
}

.addCourse-body__input-file-name {
    padding: 8px 12px;
    background-color: var(--background-secondary);
    border-radius: 4px;
    font-size: 14px;
    color: var(--text-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    transition: background-color 0.3s, color 0.3s;
}

.addCourse-body__form-subgroup-2-item {
    flex: 1;
}

.addCourse-body__select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    margin-bottom: 16px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px;
    transition: border 0.3s, background-color 0.3s, color;
}

.addCourse-body__textarea {
    height: 420px;
    min-height: 300px;
    max-height: 420px;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
    transition: border 0.3s;
    transition: border 0.3s, background-color 0.3s, color 0.3s;
}

.input-error {
    border-color: #ff4d4f;
}

.addCourse-body__error-message {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 500;
}