.course-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: default;
    gap: 0.5rem;
    height: 10%;
    width: 100%;
    background-color: transparent;
}